@import '../../global.modules.scss';

.section {
    padding: 10px 5px;
    .card {
        margin: 0;
        padding: 1px 10px!important;
        max-width: 500px;    
        background: $modalBg;
        h5 {
            margin: 10px 0;
        }
        .inputCount {
            width: 3em;
        }
        .name {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .sectionCard {
            background-color: #cfcfcf;
        }
        .footerButtons {
            padding: 10px 0;
            flex-wrap: wrap;
            span {
                font-size: smaller;
            }
        }
    }
}
