@import '~/global.modules.scss';

.card {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	width: min(calc(100% - 20px), 1000px);
	.editorMain {
		min-height: 200px;
		border: 1px #c3c3c3 solid;
		padding: 5px;
		background-color: #e3e3e3;
	}
	.select {
		width: 100%;
		.button {
			width: 100%;
			display: flex;
			justify-content: space-between;            
		}
	}
}
.hidden {
	display: none;
}
.activeRenderTag {
	background-color: #040;
}