.card {
    padding: 0.5em 1em;
    max-width: 700px;
    
}
.section {
    padding: 1em 1em 0.5em;
    flex: 1 0 100%;
}
.inputCount {
    width: 3em;
}
.cardName {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sectionCard {
    background-color: #cfcfcf;
}