@import '~/global.modules.scss';

.outCard {
    display: flex;
    justify-content: center;
    .card {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        width: min(calc(100% - 20px), 1000px);
        .tagInput {
            margin: 20px 0;
            padding: 10px;
            .editButton {
                cursor: text;
            }
        }
    }
}
.hidden {
    display: none;
}
.editForm {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0006;
    backdrop-filter: blur(3px);
    >*{
        margin-right: 20px;
    }
    .editableTag {
        
    }
}