@import '~/global.modules.scss';

.navbar {
    display: flex;
    justify-content: flex-start;
    >div[class$=bp4-navbar-heading] {
        display: flex;
        flex-direction: row;
        flex: 1 0 50px;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        span {
            margin: 0 10px 0 0;
        }
    }   
}