@import '~/global.modules.scss';

.list {
    @extend .pageBG;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;  
    align-content: flex-start;
    min-height: 100vh;  
	.notFound {
		padding-top: 20px;
        background-color: transparent;
	}
}