@import '~/global.modules.scss';

.clear {
}
.progress {
    background-color: rgb(253, 255, 118);
}
.ready {
    background-color: rgb(118, 255, 118);
}
.error {
    background-color: rgb(255, 139, 118);
}